{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1>Player</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ player.pseudo }}</td>
            </tr>
            <tr>
                <th>Victories</th>
                <td>{{ player.victories }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ player.score }}</td>
            </tr>
            <tr>
                <th>ProfilPic</th>
                <td>{{ player.profilPic }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_index') }}">back to list</a>

    <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
