{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="head-profil">
            <img class="pic-profil" src="{{ asset('dist/images/player/' ~ player.getProfilPic()) }}">
            <div class="head-info">
                <p class="infos info-player">{{ player.pseudo}}</p>
                <p class="infos info-team"><a
                        href="{{ path('team_show',   {'id': player.team.id}) }}">{{ player.team.name}}</p>
                <div id="player-edit-btn" class="btn btn-success create-btn"><a class="link-button"
                        href="{{ path('player_edit',       {'id': player.id}) }}">edit player</a></div>
            </div>
        </div>
    </div>

    <hr><br>
    <div class="container">   

        <h3 class="resume-title">Resume: </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Victories</th>
                    <th>Loses</th>
                    <th>Played</th>
                    <th>Team Score</th>
                    <th>Percent Victories</th>
                </tr>
            </thead>
            <tr>
                <td class="tournament-show">{{ player.score }}</td>
                <td class="tournament-show">{{ player.victories }}</td>
                <td class="tournament-show">{{ player.lose }}</td>
                <td class="tournament-show">{{player.contestPlayed}}</td>
                <td class="tournament-show">{{ player.team.score }}</td>
                <td class="tournament-show">{{ player.getPercentVictories()}}</td>
        </table>



        <h3 class="resume-title">Past Wins :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Winner</th>
                    <th>Loser</th>
                    <th>Game</th>
                    <th>Points</th>
                    

                </tr>
            </thead>
            {% for contest in player.contests %}
            <tr>
                <td class="tournament-show">{{ contest.createdAt | date('d/m/Y à H:i') }}</td>
                <td class="tournament-show"><a
                        href="{{ path('player_show',   {'id': contest.player.id}) }}">{{ contest.player.pseudo}}</a></td>
                <td class="tournament-show"><a
                        href="{{ path('player_show',   {'id': contest.loser.id}) }}">{{ contest.loser.pseudo }}</a></td>
                <td class="tournament-show"><a
                        href="{{ path('game_show',   {'id': contest.game.id}) }}">{{ contest.game.name }}</td>
                <td class="tournament-show">{{ contest.game.victoryValue }}</td>
                
                
    {% endfor %}
    </table>


    <h3 class="resume-title">Past loses :</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Loser</th>
                <th>Game</th>
                <th>Points</th>
                

            </tr>
        </thead>
        {% for contest in player.contestslose %}
        <tr>
            <td class="tournament-show">{{ contest.createdAt | date('d/m/Y à H:i') }}</td>
            <td class="tournament-show"><a
                    href="{{ path('player_show',   {'id': contest.player.id}) }}">{{ contest.player.pseudo}}</a></td>
            <td class="tournament-show"><a
                    href="{{ path('player_show',   {'id': contest.loser.id}) }}">{{ contest.loser.pseudo }}</a></td>
            <td class="tournament-show"><a href="{{ path('game_show',   {'id': contest.game.id}) }}">{{ contest.game.name }}</a>
            </td>
            <td class="tournament-show">{{ contest.game.victoryValue }}</td>
            

            {% endfor %}
    </table>
    {{ include('player/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
