{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

<div class="container">
    <div class="head-profil">
        <img class="pic-profil" src="{{ asset('dist/images/team/' ~ team.getPhoto()) }}">
        <div class="head-info">
            <p class="infos info-player">{{ team.name}}</p>
            <div class="edit-button flex-container">
            <div id="team-edit-btn" class="edit-team btn btn-success create-btn"><a class="link-button"
                    href="{{ path('team_edit',       {'id': team.id}) }}">edit team</a></div>
                    {{ include('team/_delete_form.html.twig') }}
        </div>
        
        </div>
    </div>
</div>

<hr><br>
<div class="container">

    <h3 class="resume-title">Resume: </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Score</th>
                <th>Victories</th>
                <th>Loses</th>
                <th>Played</th>
                <th>Percent Victories</th>     
            </tr>
        </thead>
        <tr>
            <td class="tournament-show">{{ team.getScore() }}</td>
            <td class="tournament-show">{{ team.getVictories() }}</td>
            <td class="tournament-show">{{ team.getLose() }}</td>
            <td class="tournament-show">{{ team.getPlayed() }}</td>
            <td class="tournament-show">{{team.getPercentVictories()}}</td>      
    </table>

    <div id="team-player-head">
        <h3 class="resume-title">Players: </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Players</th>
                <th>Name <i class="fas fa-caret-down"></i></th>
                <th>Percent Victories <i class="fas fa-caret-down"></i></th>
                <th>Victories <i class="fas fa-caret-down"></i></th>
                <th>Score <i class="fas fa-caret-down"></i></th>
            </tr>
        </thead>
        {% for player in team.players %}
        <tr>
            <td><img class="player-pic" src="{{ asset('dist/images/player/' ~ player.getProfilPic()) }}"></td>
            <td class="tournament-show"><a href="{{ path('player_show',   {'id': player.id}) }}">{{ player.pseudo }}</a>
            </td>
            <td class="tournament-show">{{player.getPercentVictories()}}</td>
            <td class="tournament-show">{{ player.victories }}</td>
            <td class="tournament-show">{{ player.score }}</td>
        </tr>
        {% endfor %}
    </table>



    <h3 class="resume-title">Past wins :</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Loser</th>
                <th>Game</th>
                <th>Points</th>

            </tr>
        </thead>
        {% for player in team.players %}
        {% for contest in player.contests %}
        <tr>
            <td class="tournament-show">{{ contest.createdAt | date('d/m/Y à H:i') }}</td>
            <td class="tournament-show"><a
                    href="{{ path('player_show',   {'id': player.id}) }}">{{ contest.player.pseudo}}</a></td>
            <td class="tournament-show"><a
                    href="{{ path('player_show',   {'id': contest.loser.id}) }}">{{ contest.loser.pseudo }}</a></td>
            <td class="tournament-show"><a href="{{ path('game_show',   {'id': contest.game.id}) }}">{{ contest.game.name }}
            </td>
            <td class="tournament-show">{{ contest.game.victoryValue }}</td>
        </tr>    
            {% endfor %}
            {% endfor %}
    </table>

    <h3 class="resume-title">Past loses :</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Loser</th>
                <th>Game</th>
                <th>Points</th>


            </tr>
        </thead>
        {% for player in team.players %}
        {% for contest in player.contestslose %}
        <tr>
            <td class="tournament-show">{{ contest.createdAt | date('d/m/Y à H:i') }}</td>
            <td class="tournament-show"><a
                    href="{{ path('player_show',   {'id': contest.player.id}) }}">{{ contest.player.pseudo}}</a></td>
            <td class="tournament-show"><a
                    href="{{ path('player_show',   {'id': contest.loser.id}) }}">{{ contest.loser.pseudo }}</a></td>
            <td class="tournament-show"><a
                    href="{{ path('game_show',   {'id': contest.game.id}) }}">{{ contest.game.name }}</a>
            </td>
            <td class="tournament-show">{{ contest.game.victoryValue }}</td>

            {% endfor %}
            {% endfor %}
    </table>
</div>



{% endblock %}
