{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
   
  

    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
         
        
            <div class="form-input">
                <h1 id="log-title">Connexion</h1>
                <p>email</p>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                autofocus>
            </div>
        <div class="form-input">
        <p>password</p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-btn">

        <button class="form-log-btn btn" type="submit">
            Sign in
        </button></div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <div>
             <p id="register-link"><a href="{{ path('app_forgotten_password') }}">Forgotten password</a></p>
        </div>
       

        <p id="register-link"><a href="{{ path('app_register') }}">Don't have an account ? Register here !</a></p>
        
    </form>

</div>
{% endblock %}



{#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}