{% extends 'base.html.twig' %}

{% block title %}Contest{% endblock %}

{% block body %}
    <h1>Contest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contest.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ contest.createdAt ? contest.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contest_index') }}">back to list</a>

    <a href="{{ path('contest_edit', {'id': contest.id}) }}">edit</a>

    {{ include('contest/_delete_form.html.twig') }}
{% endblock %}
