{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    

     <h3 class="add-title">Add a game : </h3>
     {{ form_start(form) }}

     <div class="add-input">{{ form_label(form.name, 'Name') }}</div>
     {{ form_widget(form.name, {'attr': {'class': 'form-control add-input' }}) }}
     {{ form_row(form.name) }}

     <div class="add-input">{{ form_label(form.victoryValue, 'Victory value') }}</div>
     {{ form_widget(form.victoryValue, {'attr': {'class': 'form-control add-input' }}) }}
     {{ form_row(form.victoryValue) }}

     <div class="add-input">{{ form_label(form.photo, 'Game Pic') }}</div>
     <div class="add-input">
         <button type="button" id="add-game-edit-file" class="btn btn-success btn-pic">Chose a pic</button>
         <span id="custom-game-edit-text">No file chosen, yet</span>
     </div>


     <div class="hide-btn">
         {{ form_label(form.photo, 'chose photo') }}
         {{ form_widget(form.photo, {'attr': {'class': 'form-control' }}) }}
         {{ form_row(form.photo) }}
     </div>

     <div class="add-input sub-btn">
         <button type="submit" class="btn btn-success btn-add">Edit</button>
         
     </div>
     {{ form_end(form) }}
     
    
     <script>
         document.getElementById('add-game-edit-file').addEventListener('click', function () {
             document.getElementById('game_photo').click();
         });
         document.getElementById('add-game-edit-file').addEventListener("change", function () {
             if (document.getElementById('add-game-edit-file').value) {
                 document.getElementById('custom-game-edit-text').innerHTML = document.getElementById(
                     'game_photo').value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
             } else {
                 document.getElementById('custom-game-edit-text').innerHTML = "No file chosen, yet";
             }
         });
     </script>

    
{% endblock %}
