{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

<div class="container">
    <div class="head-profil">
        <img class="pic-profil" src="{{ asset('dist/images/game/' ~ game.getPhoto()) }}">
        <div class="head-info">
            <p class="infos info-player">{{ game.name}}</p>
            <div id="game-edit-btn" class="btn btn-success create-btn"><a class="link-button"
                    href="{{ path('game_edit',       {'id': game.id}) }}">edit game</a></div>
        </div>
    </div>
</div>

<hr><br>
<div class="container">

    <div>
        <p>{{ game.victoryValue}} pts | Joué {{ game.getPlayed()}} fois</p>
    </div><br>


    <h3 class="info info-team">Rules</h3>

    <p>{{ game.rules }}</p>
    <br>
    <div class="container">


        <h3 class="resume-title">Contests :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Winner</th>
                    <th>Loser</th>
                </tr>
            </thead>
            {% for contest in game.contests %}
            <tr>
                <td class="tournament-show">{{ contest.createdAt | date('d.m.Y | H:i') }}</td>
                <td class="tournament-show"><a
                        href="{{ path('player_show',   {'id': contest.player.id}) }}">{{ contest.player.pseudo}}</a></td>
                <td class="tournament-show"><a
                        href="{{ path('player_show',   {'id': contest.loser.id}) }}">{{ contest.loser.pseudo }}</a></td>
            </tr><br>    
                {% endfor %}
            </table>    
    </div><br>
    {{ include('game/_delete_form.html.twig') }}

{% endblock %}
