{% extends 'base.html.twig' %}
{% block title %}Tournament index{% endblock %}
{% block body %}
{% if is_granted('ROLE_USER') %}
<div class="container">
<div id="tournament-head">
<h1 id="tournament-board-title">Your tournaments</h1>
<a class="btn btn-success create-btn " href="{{ path('tournament_new') }}">+ Create new</a>
</div>

{% for tournament in tournaments %}
<div id="tournament-board">
            
    <table class="table">
        <h3 id="tournament-name">{{ tournament.name }}</h3>
        <thead>
            <tr>
                <th>Teams</th>
                <th>Players</th>
                <th>Contests</th>
                <th>Games</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ tournament.teams | length }}</td>
                <td>{{ tournament.players | length }}</td>
                <td>{{ tournament.contests | length }}</td>
                <td>{{ tournament.games | length }}</td>
                <td>
                    <a class="btn btn-success " href="{{ path('tournament_show', {'id': tournament.id}) }}">Getin</a>
                    <a class="btn btn-danger " href="{{ path('tournament_delete', {'id': tournament.id}) }}">Delete</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}