{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <h1>{{ tournament.name }}</h1>

    <h2>{{ tournament.teams | length }} Equipe(s) en jeu</h2>
 
    
        <table class="table">
            
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Victories</th>
                    <th>Players</th>
                    <th>Show</th>
                    <th>Edit</th>
                </tr>
        {% for team in tournament.teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.score }}</td>
                    <td>{{ team.victories }}</td>
                    <td>{% for player in team.players %}
                        {{ player.pseudo }}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('team_show', {'id': team.id}) }}">show</a></td>
                    <td><a href="{{ path('team_edit', {'id': team.id}) }}">edit</a></td>
                    
                </tr>
            {% endfor %}
        </table>
    

  
    <h4>Ajouter une équipe : </h3>
    {{ form_start(teamForm) }}
    {{ form_row(teamForm.name) }}
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(teamForm) }}

    <h4>Ajouter un joueur : </h3>
    {{ form_start(playerForm) }}
    {{ form_row(playerForm.pseudo) }}
    {{ form_row(playerForm.team) }}
    <!-- {{ form_row(playerForm.profilPic) }} -->
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(playerForm) }}


    <h4>Ajouter un jeu : </h3>
    {{ form_start(gameForm) }}
    {{ form_row(gameForm.name) }}
    {{ form_row(gameForm.victoryValue) }}
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(gameForm) }}

    <h4>Ajouter un Match : </h3>
    {{ form_start(contestForm) }}
    {{ form_row(contestForm.player) }}
    {{ form_row(contestForm.game) }}
    <!-- {{ form_row(playerForm.profilPic) }} -->
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(contestForm) }}


    <a href="{{ path('tournament_index') }}">back to list</a>

    <a href="{{ path('tournament_edit', {'id': tournament.id}) }}">edit</a>

    {{ include('tournament/_delete_form.html.twig') }}
{% endblock %}
