{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
<div class="container">


    {# ----------TEAMS BOARD---------- #}

    

    <div id="tournament-head">
        <div id="team-btn" class="btn btn-success create-btn">+ add new team</div>
    </div>
    <table class="table" >
        <thead>
            <tr>
                <th>Teams</i></th>
                <th>Name <i class="fas fa-caret-down"></i></th>
                <th>Players <i class="fas fa-caret-down"></i></th>
                <th>Victories <i class="fas fa-caret-down"></i></th>
                <th>Score <i class="fas fa-caret-down"></i></th>
                <th>Position <i class="fas fa-caret-down"></i></th>
                
            </tr>
        </thead>
        {% for team in tournament.teams %}
    
        <tr>
            <td><img class="team-pic" src="{{ asset('dist/images/team/' ~ team.getPhoto()) }}"></td>
            <td class="tournament-show"><a href="{{ path('team_show',   {'id': team.id}) }}"> {{ team.name }}</a></td>
            <td class="tournament-show" id="list-players">{% for player in team.players %}
                <a href="{{ path('player_show',   {'id': player.id}) }}">{{ player.pseudo }}</a>
                {% endfor %}
            </td>
            <td class="tournament-show">{{ team.getVictories() }}</td>
            <td class="tournament-show">{{ team.getScore() }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>


    {# ----------PLAYERS BOARD---------- #}

    <br>
    <div id="tournament-head">
        <div id="player-btn" class="btn btn-success create-btn">+ add new player</div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Players</th>
                <th>Name <i class="fas fa-caret-down"></i></th>
                <th>Team <i class="fas fa-caret-down"></i></th>
                <th>Victories <i class="fas fa-caret-down"></i></th>
                <th>Score <i class="fas fa-caret-down"></i></th>
                <th>Position <i class="fas fa-caret-down"></i></th>
                
            </tr>
        </thead>
        {% for team in tournament.teams %}
        {% for player in team.players %}
        <tr>
            <td><img class="player-pic" src="{{ asset('dist/images/player/' ~ player.getProfilPic()) }}"></td>
            <td class="tournament-show"><a href="{{ path('player_show',   {'id': player.id}) }}">{{ player.pseudo }}</a>
            </td>
            <td class="tournament-show"><a href="{{ path('team_show',   {'id': team.id}) }}"> {{ player.team.name }}</a></td>
            <td class="tournament-show">{{ player.victories }}</td>
            <td class="tournament-show">{{ player.score }}</td>
            <td class="tournament-show"></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>

    {# ----------GAMES BOARD---------- #}

    <br>
    <div id="tournament-head">
        <div id="game-btn" class="btn btn-success create-btn">+ add new game</div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Name <i class="fas fa-caret-down"></i></th>
                <th>Value <i class="fas fa-caret-down"></i></th>
                <th>Played <i class="fas fa-caret-down"></i></th>
            </tr>
        </thead>
        {% for game in tournament.games %}
        <tr>
            <td class="tournament-show"><img class="game-pic" src="{{ asset('dist/images/game/' ~ game.getPhoto()) }}">
            </td>
            <td class="tournament-show"><a href="{{ path('game_show',   {'id': game.id}) }}">{{ game.name }}</a></td>
            <td class="tournament-show">{{ game.victoryValue }}</td>
            <td class="tournament-show">{{ game.getPlayed() }}</td>
        </tr>
        {% endfor %}
    </table>


    {# ----------CONTESTS BOARD---------- #}

    <br>
    <div id="tournament-head">
        <div id="contest-btn" class="btn btn-success create-btn">+ add new contest</div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Winner <i class="fas fa-caret-down"></i></th>
                <th>Loser <i class="fas fa-caret-down"></i></th>
                <th>Game <i class="fas fa-caret-down"></i></th>
                <th>Points <i class="fas fa-caret-down"></i></th>
                <th>Options <i class="fas fa-caret-down"></i></th>

            </tr>
        </thead>
        {% for contest in tournament.contests %}
        <tr>
            <td class="tournament-show">{{ contest.createdAt | date('d/m/Y à H:i') }}</td>
            <td class="tournament-show">{{ contest.player.pseudo}}</td>
            <td class="tournament-show">{{ contest.loser.pseudo }}</td>
            <td class="tournament-show">{{ contest.game.name }}</td>
            <td class="tournament-show">{{ contest.game.victoryValue }}</td>
            <td>
                <div class="edit-btn">
                    <a class="btn btn-info" href="{{ path('contest_edit',       {'id': contest.id}) }}">edit</a> 
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- ______________________________________________________________________________________________________________________________________________ -->

<!-- __________MODAL SECTION__________ -->

<!-- ___________Team Modal___________ -->
<div class="bg-modal team-modal">
    <div class="modal-content">
        <div class="close-team">
            +
        </div>
        <h3 class="add-title">Add a team: </h3>
        {{ form_start(teamForm) }}
        <div class="add-input">{{ form_label(teamForm.name, 'Name') }}</div>
        {{ form_widget(teamForm.name, {'attr': {'class': 'form-control add-input' }}) }}
        {{ form_row(teamForm.name) }}

        <div class="add-input">{{ form_label(teamForm.photo, 'Team Pic') }}</div>
        <div class="add-input">
            <button type="button" id="add-file" class="btn btn-success">Chose a pic</button>
            <span id="custom-text">No file chosen, yet</span>
        </div>
         
        <div class="hide-btn">
            {{ form_label(teamForm.photo, 'chose photo') }}
            {{ form_widget(teamForm.photo, {'attr': {'class': 'form-control' }}) }}
            {{ form_row(teamForm.photo) }}
        </div>


         <div class="add-input sub-btn">
             <button type="submit" class="btn btn-success btn-add">Create team</button>
         </div>
        
        {{ form_end(teamForm) }}
    </div>
</div>

<!-- ______________________________________________________________________________________________________________________________________________ -->

<!-- __________Player Modal__________ -->

<div class="bg-modal player-modal">
    <div class="modal-content">
        <div class="close-player">
            +
        </div>
        <h3 class="add-title">Add a player : </h3>
            {{ form_start(playerForm) }}
            <div class="add-input">{{ form_label(playerForm.pseudo, 'Pseudo') }}</div>
            {{ form_widget(playerForm.pseudo, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(playerForm.pseudo) }}

            <div class="add-input">{{ form_label(playerForm.team, 'Team') }}</div>
            {{ form_widget(playerForm.team, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(playerForm.team) }}

            <div class="add-input">{{ form_label(playerForm.profilPic, 'Player Pic') }}</div>
            <div class="add-input">
                <button type="button" id="add-player-file" class="btn btn-success">Chose a pic</button>
                <span id="custom-player-text">No file chosen, yet</span>
            </div>


            <div class="hide-btn">
                {{ form_label(playerForm.profilPic, 'chose photo') }}
                {{ form_widget(playerForm.profilPic, {'attr': {'class': 'form-control' }}) }}
                {{ form_row(playerForm.profilPic) }}
            </div>
            <div class="add-input sub-btn">
                <button type="submit" class="btn btn-success btn-add">Créer</button>
            </div>
            
            {{ form_end(playerForm) }}
    </div>
</div>

<!-- ______________________________________________________________________________________________________________________________________________ -->

<!-- __________Game Modal__________ -->

<div class="bg-modal game-modal">
    <div class="modal-content">
        <div class="close-game">
            +
        </div>
        <h3 class="add-title">Add a game : </h3>
            {{ form_start(gameForm) }}

            <div class="add-input">{{ form_label(gameForm.name, 'Name') }}</div>
            {{ form_widget(gameForm.name, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(gameForm.name) }}

            <div class="add-input">{{ form_label(gameForm.victoryValue, 'Victory value') }}</div>
            {{ form_widget(gameForm.victoryValue, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(gameForm.victoryValue) }}

             <div class="add-input">{{ form_label(gameForm.photo, 'Game Pic') }}</div>
             <div class="add-input">
                 <button type="button" id="add-game-file" class="btn btn-success">Chose a pic</button>
                 <span id="custom-game-text">No file chosen, yet</span>
             </div>


             <div class="hide-btn">
                 {{ form_label(gameForm.photo, 'chose photo') }}
                 {{ form_widget(gameForm.photo, {'attr': {'class': 'form-control' }}) }}
                 {{ form_row(gameForm.photo) }}
             </div>

            <div class="add-input sub-btn">
                <button type="submit" class="btn btn-success btn-add">Créer</button>
            </div>    
            {{ form_end(gameForm) }}
    </div>
</div>

<!-- ______________________________________________________________________________________________________________________________________________ -->

<!-- __________Contest Modal__________ -->
<div class="bg-modal contest-modal">
    <div class="modal-content">
        <div class="close-contest">
            +
        </div>
        <h3 class="add-title">Add a contest : </h3>
            {{ form_start(contestForm) }}

            <div class="add-input">{{ form_label(contestForm.player, 'Winner') }}</div>
            {{ form_widget(contestForm.player, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(contestForm.player) }}

            <div class="add-input">{{ form_label(contestForm.loser, 'Loser') }}</div>
            {{ form_widget(contestForm.loser, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(contestForm.loser) }}

            <div class="add-input">{{ form_label(contestForm.game, 'Game') }}</div>
            {{ form_widget(contestForm.game, {'attr': {'class': 'form-control add-input' }}) }}
            {{ form_row(contestForm.game) }}

            <div class="add-input sub-btn">
                <button type="submit" class="btn btn-success">Créer</button>
            </div>
            
            {{ form_end(contestForm) }}
    </div>
</div>



{% endblock %}