{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
<div class="container">
    <div id="tournament-head">
        <div id="team-btn" class="btn btn-success create-btn">+ add new team</div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Teams</th>
                    <th>Name</th>
                    <th>Players</th>
                    <th>Victories</th>
                    <th>Score</th>
                    <th>Position</th>
                    <th>Options</th>
                </tr>
            </thead>
        {% for team in tournament.teams %}
                <tr>
                    <td><img class="team-pic" src="{{ asset('dist/images/team/' ~ team.getPhoto()) }}"></td>
                    <td class="tournament-show">{{ team.name }}</td>
                     <td class="tournament-show" id="list-players">{% for player in team.players %}
                         {{ player.pseudo }}
                         {% endfor %}
                     </td>
                    <td class="tournament-show">{{ team.victories }}</td>
                    <td class="tournament-show">{{ team.score }}</td>
                    <td></td>
                    <td>
                        <div class="edit-btn">
                    <a  class="btn btn-success" href="{{ path('team_show',   {'id': team.id}) }}">show</a>
                    <a  class="btn btn-info" href="{{ path('team_edit',       {'id': team.id}) }}">edit</a>
                    <a  class="btn btn-warning" href="{{ path('team_delete',     {'id': team.id}) }}">delete</a></div></td>
                
                </tr>
            {% endfor %}
        </table>
    

    <br>
    
    
    <br>
    <div id="tournament-head">
        <div id="player-btn" class="btn btn-success create-btn">+ add new player</div>
    </div>
     <table class="table">
         <thead>
         <tr>
             <th>Players</th>
             <th>Name</th>
             <th>Team</th>
             <th>Victories</th>
             <th>Score</th>
             <th>Position</th>
             <th>Options</th>
         </tr>
         </thead>
         {% for team in tournament.teams %}
         {% for player in team.players %}
         <tr>
             <td><img class="player-pic" src="{{ asset('dist/images/player/' ~ player.getProfilPic()) }}"></td>
             <td class="tournament-show">{{ player.pseudo }}</td>
             <td class="tournament-show">{{ player.team.name }}</td>
             <td class="tournament-show">{{ player.score }}</td>
             <td class="tournament-show">{{ player.victories }}</td>
             <td class="tournament-show"></td>
             <td>
                 <div class="edit-btn">
                 <a class="btn btn-success" href="{{ path('player_show',   {'id': player.id}) }}">show</a>
                 <a class="btn btn-info" href="{{ path('player_edit',       {'id': player.id}) }}">edit</a>
                 <a class="btn btn-warning" href="{{ path('player_delete',     {'id': player.id}) }}">delete</a></div></td>
         </tr>
         {% endfor %}
         {% endfor %}
     </table>

    


    
    <br>
    <div id="tournament-head">
        <div id="game-btn" class="btn btn-success create-btn">+ add new game</div>
    </div>
     <table class="table">
<thead>
         <tr>
             <th>Game</th>
             <th>Name</th>
             <th>Value</th>
             <th>Played</th>
             <th>Options</th>

         </tr>
         </thead>
         {% for game in tournament.games %}
         <tr>
             <td class="tournament-show"><img class="game-pic" src="{{ asset('dist/images/game/' ~ game.getPhoto()) }}"></td>
             <td class="tournament-show">{{ game.name }}</td>
             <td class="tournament-show">{{ game.victoryValue }}</td>
             <td class="tournament-show"></td>
             <td>
                 <div class="edit-btn">
                 <a class="btn btn-success" href="{{ path('game_show',   {'id': game.id}) }}">show</a>
                 <a class="btn btn-info" href="{{ path('game_edit',       {'id': game.id}) }}">edit</a>
                 <a class="btn btn-warning" href="{{ path('game_delete',     {'id': game.id}) }}">delete</a></div></td>
         </tr>
         {% endfor %}
     </table>




    <br>
    <div id="tournament-head">
        <div id="contest-btn" class="btn btn-success create-btn">+ add new contest</div>
    </div>
    <table class="table">
<thead>
        <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Game</th>
            <th>Points</th>
            <th>Options</th>

        </tr>
        </thead>
        {% for contest in tournament.contests %}
        <tr>
            <td class="tournament-show">{{ contest.createdAt | date('Y-m-d H:i:s') }}</td>
            <td class="tournament-show">{{ contest.player.pseudo}}</td>
            <td class="tournament-show">{{ contest.game.name }}</td>
            <td class="tournament-show">{{ contest.game.victoryValue }}</td>
            <td>
                <div class="edit-btn">
                <a class="btn btn-success" href="{{ path('contest_show',   {'id': contest.id}) }}">show</a>
                <a class="btn btn-info" href="{{ path('contest_edit',       {'id': contest.id}) }}">edit</a>
                <a class="btn btn-warning" href="{{ path('contest_delete',     {'id': contest.id}) }}">delete</a></div></td>
               
            </tr>

        {% endfor %}
    </table>

  


    <!-- <a href="{{ path('tournament_index') }}">back to list</a>

    <a href="{{ path('tournament_edit', {'id': tournament.id}) }}">edit</a>

    {{ include('tournament/_delete_form.html.twig') }} -->

    </div>

    <!-- Modal section -->

    <!-- Team Modal -->
    <div class="bg-modal team-modal">
        <div class="modal-content">
            <div class="close-team">
                +
            </div>
            <h3>Ajouter une équipe : </h3>
                {{ form_start(teamForm) }}
                {{ form_row(teamForm.name) }}
                {{ form_row(teamForm.photo) }}
                <button type="submit" class="btn btn-success">Créer</button>
                {{ form_end(teamForm) }}
        </div>
    </div>

     <!-- Player Modal -->
     <div class="bg-modal player-modal">
         <div class="modal-content">
             <div class="close-player">
                 +
             </div>
             <h4>Ajouter un joueur : </h3>
                 {{ form_start(playerForm) }}
                 {{ form_row(playerForm.pseudo) }}
                 {{ form_row(playerForm.team) }}
                 {{ form_row(playerForm.profilPic) }}
                 <button type="submit" class="btn btn-success">Créer</button>
                 {{ form_end(playerForm) }}
         </div>
     </div>

      <!-- Game Modal -->
      <div class="bg-modal game-modal">
          <div class="modal-content">
              <div class="close-game">
                  +
              </div>
             <h4>Ajouter un jeu : </h3>
                 {{ form_start(gameForm) }}
                 {{ form_row(gameForm.name) }}
                 {{ form_row(gameForm.victoryValue) }}
                 <button type="submit" class="btn btn-success">Créer</button>
                 {{ form_end(gameForm) }}
          </div>
      </div>

      <!-- Contest Modal -->
      <div class="bg-modal contest-modal">
          <div class="modal-content">
              <div class="close-contest">
                  +
              </div>
                <h4>Ajouter un Match : </h3>
                    {{ form_start(contestForm) }}
                    {{ form_row(contestForm.player) }}
                    {{ form_row(contestForm.game) }}
                    <button type="submit" class="btn btn-success">Créer</button>
                    {{ form_end(contestForm) }}
          </div>
      </div>



{% endblock %}

